spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379

cache:
 type: redis

azure:
  storage:
    account-name: ${AZURE_STORAGE_ACCOUNT_NAME}
    container-name: ${AZURE_STORAGE_CONTAINER_NAME}
    connection-string: ${AZURE_STORAGE_CONNECTION_STRING}
    key: ${AZURE_STORAGE_KEY:azure-storage-key}