spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379

cache:
 type: redis

azure:
  storage:
    account-name: ${AZURE_STORAGE_ACCOUNT_NAME:your-account-name}
    container-name: ${AZURE_STORAGE_CONTAINER_NAME:your-container-name}
    connection-string: ${AZURE_STORAGE_CONNECTION_STRING:DefaultEndpointsProtocol=https;AccountName=your-account-name;AccountKey=your-account-key;EndpointSuffix=core.windows.net}
    key: ${AZURE_STORAGE_KEY:your-account-key}